body{
    background-color: rgb(50, 179, 184);
}
h1{
    color: aqua;
}
img{
    width: 250px;
    height: 250px; 
}
.images{
     font-family:  sans-serif ;
     font-style: italic;

    }
.photo{
   
}